<section class="experience section" id="experience" [class.visible]="isVisible">
  <div class="container">
    <div class="section-header">
      <span class="section-tag">{{ 'EXPERIENCE.TAG' | translate }}</span>
      <h2 class="section-title">{{ 'EXPERIENCE.TITLE' | translate }}</h2>
      <div class="section-line"></div>
    </div>

    <div class="timeline">
      <div class="timeline-line"></div>

      <div class="timeline-item"
           *ngFor="let exp of experiences; let i = index; let odd = odd"
           [class.right]="odd"
           [style.animation-delay]="(i * 0.2) + 's'">
        <div class="timeline-dot">
          <i [class]="exp.icon"></i>
        </div>
        <div class="timeline-card">
          <div class="card-header">
            <h3 class="card-position">{{ exp.positionKey | translate }}</h3>
            <span class="card-duration">{{ exp.durationKey | translate }}</span>
          </div>
          <h4 class="card-company">
            <i [class]="exp.icon" style="margin-right: 0.4rem;"></i>
            {{ exp.companyKey | translate }}
          </h4>
          <ul class="card-list">
            <li *ngFor="let descKey of exp.descKeys">{{ descKey | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
